{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block body %}
    <div class="container mt-4">
        {{ form_start(form) }}
        <div class="form-row align-items-center">
            <div class="col-10">
                {{ form_row(form.category) }}
            </div>
            <div class="col-2">
                <button class="btn search-btn" type="submit">Rechercher</button>
            </div>
        </div>
        {{ form_end(form) }}
        {% for message in app.flashes('success') %}
            <div class="row alert alert-info mb-4">
                <div class="col">
                    {{ message }}
                </div>
                <div class="col ml-auto">
                    <a href="{{ path('home') }}">
                        <img src="/images/management/Cross.svg" alt="X Cross">
                    </a>
                </div>
            </div>
        {% endfor %}

        <div class="row flex">
            {% for trick in tricks %}
                <div class="col-4 mt-4">
                    <div class="card trick-card">
                        {% if not trick.file == null %}
                            <div class="card-header">
                                <img src="{{ asset(trick.file) }}" alt="Image de la figure {{ trick.trickName }}"
                                     width="302" height="316">
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ path('trick.show', {id: trick.id, slug: trick.slug}) }}">{{ trick.trickName }}</a>
                            </h4>
                            <p class="card-text">Catégorie : <strong>{{ trick.category.name }}</strong></p>
                            <div class="row">
                                {% if app.user %}
                                <div class="col-auto mr-auto">
                                    <a href="{{ path('trick.edit', {id: trick.id, slug: trick.slug}) }}">
                                        <img src="/images/management/Edit-Pencil.svg" alt="Edition">
                                    </a>
                                </div>
                                <div class="col-auto ml-auto">
                                    <form onsubmit="return confirm('Êtes-vous sur de vouloir supprimper la figure ?')"
                                          method="post"
                                          action="{{ path('trick.delete', {slug: trick.slug, id: trick.id}) }}">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('delete' ~ trick.id) }}">
                                        <button class="btn"><img src="/images/management/Recycle-Bin.svg"
                                                                 alt="Suppression">
                                        </button>
                                    </form>

                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="paginate-master">
        <ul class="pagination mb-5">
            <li class="paginate {% if (currentPage == 1) %} disabled {% endif %}">
                <a href="{{ path('home', {page: currentPage - 1}) }}">
                    <img src="/images/pagination/LeftArrow.svg" alt="Précendent">
                </a>
            </li>

            {% for page in 1..pages %}
                <li class="paginate">
                    <a class="{% if (currentPage == page) %}active{% endif %}"
                       href="{{ path('home', {page: page}) }}">{{ page }}</a>
                </li>
            {% endfor %}

            <li class="paginate {% if (currentPage == pages) %} disabled {% endif %}">
                <a href="{{ path('home', {page: currentPage + 1}) }}">
                    <img src="/images/pagination/RightArrow.svg" alt="Suivant">
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

